@import url(//fonts.googleapis.com/css?family=Fauna+One);

body {
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:#D2D7E4;
	background-image: url(bgi.JPG);
	background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

h1, h2 {
	font-family: 'Fauna One', Helvetica, sans-serif;
	/*color: #FBEFEF;*/
	padding: 10px;
	font-size: 75px;
	position: relative;
}

div{ 
	font-family: 'Fauna One', Helvetica, sans-serif; font-size: 1.01em; color: #FBEFEF;
}

#nav a:link, #nav a:visited {
	font-family: 'Fauna One', Helvetica, sans-serif; font-size: 1.01em; color: #1426C7;
	text-decoration: none;
	background-color: transparent;
	
}

#nav a:hover {
	color: #8086B3;
}

div#content {
	margin-left: 2em;
	margin-right: 6em;
	width: 30em;
}

div#nav {
	position: float;
	/*top: -15em;
	right: -500em;*/
	width: float;
	max-width : 60em;
	background-color: #fff;
	background-color: rgba(255,255,255,0.65);
	padding: 20px;
	color: black;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
}

div#footer{
   position:fixed;
   bottom:0px;
   left:0px;
   right:0px;
   height:40px;
   color: #FBEFEF;
   text-align: right;
   font-size: 10px;
}